<div class="grid">
  <div class="card card-grid min-w-full">
   <div class="card-header py-5 flex-wrap">
    <h3 class="card-title">
     Protocolos de investigación No aprobados
    </h3>

   </div>
   <div class="card-body">
    <div data-datatable="true" data-datatable-page-size="5" data-datatable-state-save="true" id="datatable_1">
     <div class="scrollable-x-auto">
      <table class="table table-auto table-border" data-datatable-table="true">
       <thead>
        <tr>
         <th class="w-[100px] text-center">
          <span class="sort asc">
           <span class="sort-label">
            Estado
           </span>
           <span class="sort-icon">
           </span>
          </span>
         </th>
         <th class="w-[100px] text-center">
          <span class="sort">
           <span class="sort-label">
            No. de Protocolo
           </span>
           <span class="sort-icon">
           </span>
          </span>
         </th>
         <th class="w-[185px]">
          <span class="sort">
           <span class="sort-label">
            Titulo del proyecto
           </span>
           <span class="sort-icon">
           </span>
          </span>
         </th>
         <th class="w-[60px]">
          <span class="sort">
            <span class="sort-label">
             Fecha de inicio
            </span>
            <span class="sort-icon">
            </span>
           </span>
         </th>
         <th class="w-[60px]">
          <span class="sort">
            <span class="sort-label">
             Fecha de término
            </span>
            <span class="sort-icon">
            </span>
           </span>
         </th>
        <th class="w-[60px]">
          <span class="sort">
            <span class="sort-label">
             Detalle
            </span>
            <span class="sort-icon">
            </span>
           </span>
        </th>
        <th class="w-[60px]">
          <span class="sort">
            <span class="sort-label">
             Eliminar
            </span>
            <span class="sort-icon">
            </span>
           </span>
        </th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td class="text-center">
          <span class="badge badge-dot size-2.5 badge-danger">
          </span>
         </td>
         <td>
          0159
         </td>
         <td>
          HR Dept
         </td>
         <td>
          09/10/2015
         </td>
         <td>
          29/08/2018
         </td>
         <td>
          Consultar
         </td>
         <td>
          Eliminar
         </td>
        </tr>

       </tbody>
      </table>
     </div>
     <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
      <div class="flex items-center gap-2">
       Show
       <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
       </select>
       per page
      </div>
      <div class="flex items-center gap-4">
       <span data-datatable-info="true">
       </span>
       <div class="pagination" data-datatable-pagination="true">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>

