<div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mt-10 px-4">
  <!-- Menú lateral -->


  <!-- Tarjeta principal -->
  <div class="col-span-3 mr-9">
    <div class="bg-white shadow-xl rounded-2xl p-6 h-full flex flex-col">

      <!-- Header de la tarjeta -->
      <div class="text-center mb-6">
        <h3 class="text-2xl font-bold text-gray-700">
          UNIDAD DE PRODUCCIÓN Y EXPERIMENTACIÓN DE ANIMALES DE LABORATORIO DEL CINVESTAV
        </h3>
      </div>

      <!-- Body de la tarjeta -->
      <div class="overflow-y-auto h-64 flex flex-col items-center justify-start space-y-6">

        <!-- Título principal -->
        <h1 class="text-3xl font-extrabold text-gray-700">CREAR NUEVO PROTOCOLO</h1>

        <!-- Imagen -->
        <img
          src="https://svgsilh.com/svg/1148152.svg"
          alt="rata-icono"
          class="w-24 h-24" />

        <!-- Botones -->
        <div class="flex flex-col md:flex-row gap-4 mt-4">
          <button [routerLink]="'/inv/protocol-register'"class="border border-green-500 text-green-500 px-4 py-2 rounded-lg hover:bg-green-500 hover:text-white transition">
            PROTOCOLO DE INVESTIGACIÓN
          </button>
          <button [routerLink]="'/inv/pilot-register'" class="border border-green-500 text-green-500 px-4 py-2 rounded-lg hover:bg-green-500 hover:text-white transition">
            ESTUDIO PILOTO
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
