<div class="card h-full shadow-xl">
    <div class="flex flex-row justify-between m-6">
        <div class="order-1">
            <img src="/assets/media/images/logo-ipn-gris.png" class="w-20 h-auto" alt="Logo IPN">
        </div>
        <div class=" order-2 left-1/2 text-center mt-4">
            <h3 class="text-2xl font-bold text-gray-700">
                INSTITUTO POLITÉCNICO NACIONAL
            </h3>
            <h3 class="text-2xl font-bold text-gray-700 mt-5">
                ESCUELA SUPERIOR DE CÓMPUTO
            </h3>
        </div>
        <div class="order-3 m-5">
            <img src="/assets/media/images/escudoESCOM.png" class="w-28 h-auto" alt="Escudo ESCOM">
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
    <!-- Tarjeta principal -->
        <div class="col-span-8">
            <div class="bg-white rounded-2xl p-6 h-full">

                <!-- Header de la tarjeta -->
                <div class="text-center mb-6">
                    <h3 class="text-2xl font-bold text-gray-700">
                    UNIDAD DE PRODUCCIÓN Y EXPERIMENTACIÓN DE ANIMALES DE LABORATORIO DEL CINVESTAV
                    </h3>
                </div>

                <!-- Body de la tarjeta -->
                <div class="overflow-y-auto h-72 flex flex-col items-center justify-start space-y-6">
                    <!-- Título principal -->
                    <h4 class="text-3xl text-center font-extrabold text-gray-700">REGISTRO DE PROTOCOLO</h4>
                    <div class="flex flex-col md:flex-row gap-4 mt-4">
                      <button [routerLink]="'/inv/protocol-register'"class="btn btn-outline btn-success">
                          PROTOCOLO DE INVESTIGACIÓN
                      </button>
                      <button [routerLink]="'/inv/pilot-register'" class="btn btn-outline btn-success">
                          ESTUDIO PILOTO
                      </button>
                    </div>
                    <!-- Imagen -->
                    <img
                    src="/assets/media/images/Logo4.png"
                    alt="ApWAL"
                    class="w-40 h-40"
                    />
                </div>
            </div>
        </div>
    </div>
</div>


