<div class="relative flex items-center justify-between px-4 py-2">
  <div>
    <img src="/assets/media/images/logo-ipn-gris.png" class="w-20 h-auto" alt="Logo IPN">
  </div>
  <div class="absolute left-1/2 transform -translate-x-1/2 text-center">
    <h3 class="text-2xl font-semibold text-gray-700">
      INSTITUTO POLITÉCNICO NACIONAL
    </h3>
    <h3 class="text-2xl font-semibold text-gray-700 mt-2">
      ESCUELA SUPERIOR DE CÓMPUTO
    </h3>
  </div>
  <div>
    <img src="/assets/media/images/escudoESCOM.png" class="w-28 h-auto" alt="Escudo ESCOM">
  </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mt-10 px-4">
  <!-- Tarjeta principal -->
  <div class="col-span-8">
    <div class="bg-white shadow-xl rounded-2xl p-6 h-full">

      <!-- Header de la tarjeta -->
      <div class="text-center mb-6">
        <h3 class="text-2xl font-bold text-gray-700">
          PROTOCOLO PARA EL USO DE ANIMALES DE LABORATORIO
        </h3>
      </div>

      <!-- Body de la tarjeta -->
      <div class="overflow-y-auto h-72 flex flex-col items-center justify-start space-y-6">

        <!-- Título principal -->
        <h6 class="text-3xl font-extrabold text-gray-700">CREAR NUEVO PROTOCOLO</h6>

        <!-- Imagen -->
        <img
          src="/assets/media/images/Logo4.png"
          alt="ApWAL"
          class="w-40 h-40" />

        <!-- Botones -->
        <div class="flex flex-col md:flex-row gap-4 mt-4">
          <button [routerLink]="'/inv/protocol-register'"class="btn btn-outline btn-success">
            PROTOCOLO DE INVESTIGACIÓN
          </button>
          <button [routerLink]="'/inv/pilot-register'" class="btn btn-outline btn-success">
            ESTUDIO PILOTO
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
