<div class="grid justify-items-center grid-cols-1 lg:grid-cols-4 gap-6 mt-10 px-4 pr-8 pl-8">
  <!-- Tarjeta principal -->
  <div class="col-span-8">
    <div class="bg-white shadow-xl rounded-2xl p-10 h-full">

      <!-- Header de la tarjeta -->
      <div class="text-center mb-6">
        <h3 class="text-2xl font-bold text-gray-700">
          <i class="ki-duotone ki-setting-2"></i>
            Menú de gestion del catalogo de animales
        </h3>
      </div>

      <!-- Body de la tarjeta -->
      <div class="overflow-y-auto pb-30 flex flex-col items-center justify-start space-y-6 pl-16 pr-16">
        <!-- Botones -->
        <div class="flex flex-col md:flex-row gap-4 mt-4 p-2">
          <button [routerLink]="'/admin/agregar-atributo'" class="text-lg btn btn-outline btn-success">
            Agregar nuevos atributos
            <i class="ki-solid ki-add-files"></i>
          </button>
        </div>
        <div class="flex flex-col md:flex-row gap-4 mt-4 p-2 p-2">
          <button [routerLink]="'/admin/modificar-atributo'" class="text-lg btn btn-outline btn-success">
            Modificar atributos ya existentes
            <i class="ki-solid ki-notepad-edit"></i>
          </button>
        </div>
        <div class="flex flex-col md:flex-row gap-4 mt-4 p-2">
          <button [routerLink]="'/admin/agregar-animal'" class="text-lg btn btn-outline btn-success">
            Agregar animales al catalogo de naimales
            <i class="ki-solid ki-archive"></i>
          </button>
        </div>
        <div class="flex flex-col md:flex-row gap-4 mt-4 p-2">
          <button [routerLink]="'/admin/modificar-animal'" class="text-lg btn btn-outline btn-success">
            Modificar animales ya existentes en el catalogo
            <i class="ki-solid ki-wrench"></i>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
