<!--tablas-->
<div class="bg-teal-500 justify-items-center rounded-2xl p-4">
    <h2 class="card-title text-2xl text-white">Tabla de solicitudes en revicion</h2>                
</div>
<div class="p-4">
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-teal-300 bg-white text-base text-gray-700">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Estado solicitud</th>                    
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">ID protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre investigador</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Tipo de solicitud</th>                    
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-teal-100">
                <tr class="hover:bg-teal-50" *ngFor="let revicion of lista_solicitud_revicion">
                    <td class="text-center px-6 py-4">
                        {{ revicion.edo_solicitud }} 
                        <i class="ki-solid ki-dots-square text-yellow-300 text-4xl"></i>
                    </td>
                    <td class="text-center px-6 py-4">{{ revicion.ID_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ revicion.nombre_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ revicion.nombre_investigador }}</td>
                    <td class="text-center px-6 py-4">{{ revicion.tipo_solicitud }}</td>
                    <td class="text-center px-6 py-4">
                        <button class="bg bg-green-400 pt-3 pb-3 pl-6 pr-6 rounded-2xl ">
                            <i class="ki-filled ki-folder-added text-2xl"></i>
                            Aceptar solicitud   
                        </button>
                        <br>
                        <button class="bg bg-red-400 pt-3 pb-3 pl-6 pr-6 rounded-2xl mt-3">
                            <i class="ki-filled ki-delete-folder text-2xl"></i>
                            Rechazar solicitud   
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--tablas-->
<div class="bg-teal-500 justify-items-center rounded-2xl p-4 mt-16">
    <h2 class="card-title text-2xl text-white">Tabla de solicitudes aceptadas</h2>                
</div>
<div class="p-4">
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-teal-300 bg-white text-base text-gray-700">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Estado solicitud</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">ID protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre investigador</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Tipo de solicitud</th>                    
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-teal-100">
                <tr class="hover:bg-teal-50" *ngFor="let aceptadas of lista_solicitud_aprovada">
                    <td class="text-center px-6 py-4">
                        <i class="ki-solid ki-check-squared text-green-500 text-4xl"></i>
                        {{ aceptadas.edo_solicitud }}
                    </td>
                    <td class="text-center px-6 py-4">{{ aceptadas.ID_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ aceptadas.nombre_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ aceptadas.nombre_investigador }}</td>
                    <td class="text-center px-6 py-4">{{ aceptadas.tipo_solicitud }}</td>
                    <td class="text-center px-6 py-4">
                        <button class="bg bg-yellow-300 p-3 rounded-2xl">
                            <i class="ki-filled ki-focus"></i>
                            Modificar estado solicitud   
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="bg-teal-500 justify-items-center rounded-2xl p-4 mt-16">
    <h2 class="card-title text-2xl text-white">Tabla de solicitudes rechazadas</h2>                
</div>
<div class="p-4">
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-teal-300 bg-white text-base text-gray-700">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Estado solicitud</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">ID protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre protocolo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">nombre investigador</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Tipo de solicitud</th>                    
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-teal-100">
                <tr class="hover:bg-teal-50" *ngFor="let rechazadas of lista_solicitud_rechazada">
                    <td class="text-center px-6 py-4">
                        <i class="ki-solid ki-cross-square text-red-500 text-4xl"></i>
                        {{ rechazadas.edo_solicitud }}
                    </td>
                    <td class="text-center px-6 py-4">{{ rechazadas.ID_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ rechazadas.nombre_protocolo }}</td>
                    <td class="text-center px-6 py-4">{{ rechazadas.nombre_investigador }}</td>
                    <td class="text-center px-6 py-4">{{ rechazadas.tipo_solicitud }}</td>
                    <td class="text-center px-6 py-4">
                        <button class="bg bg-yellow-300 p-3 rounded-2xl">
                            <i class="ki-filled ki-focus"></i>
                            Modificar estado solicitud   
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>