<app-navbar></app-navbar>
<div class="card h-full shadow-xl">

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
    <!-- Tarjeta principal -->
        <div class="col-span-8">
            <div class="bg-white rounded-2xl p-6 h-full">

                <!-- Header de la tarjeta -->
                <h4 class="text-3xl font-extrabold text-gray-700 text-center">Biblioteca digital</h4>
                <!-- Body de la tarjeta -->
                <div class="overflow-y-auto h-72 flex flex-col items-center justify-start space-y-6">

                </div>
            </div>
        </div>
    </div>
</div>
