<div class="menu menu-default flex flex-wrap justify-center gap-2.5 border rounded-lg py-2">
  <div class="menu-item">
   <a routerLink="my-protocols" routerLinkActive="btn-success" class="menu-link">
    <span class="menu-icon">
      <i class="ki-filled ki-book"></i>
    </span>
    <span class="menu-title">
     Mis protocolos
    </span>
   </a>
  </div>
  <div class="menu-separator">
  </div>
  <div class="menu-item">
   <a routerLink="approved" routerLinkActive="btn-success" class="menu-link">
    <span class="menu-icon">
      <i class="ki-filled ki-like"></i>
    </span>
    <span class="menu-title">
     Aprobados
    </span>
   </a>
  </div>
  <div class="menu-item">
   <a routerLink="unapproved" routerLinkActive="btn-success" class="menu-link">
    <span class="menu-icon">
      <i class="ki-filled ki-dislike"></i>
    </span>
    <span class="menu-title">
     No aprobados
    </span>
   </a>
  </div>
  <div class="menu-item">
    <a routerLink="recomendations" routerLinkActive="btn-success" class="menu-link">
     <span class="menu-icon">
      <i class="ki-filled ki-message-question"></i>
     </span>
     <span class="menu-title">
      Aprobados con recomendaciones
     </span>
    </a>
   </div>
  <div class="menu-item">
   <a routerLink="unfinished" routerLinkActive="btn-success" class="menu-link">
    <span class="menu-icon">
      <i class="ki-filled ki-tablet-delete"></i>
    </span>
    <span class="menu-title">
     No enviados
    </span>
   </a>
  </div>
  <div class="menu-item">
   <a routerLink="underreview" routerLinkActive="btn-success" class="menu-link">
    <span class="menu-icon">
      <i class="ki-filled ki-questionnaire-tablet"></i>
    </span>
    <span class="menu-title">
     En revisión
    </span>
   </a>
  </div>
 </div>
