<div class="menu menu-default flex flex-wrap justify-center gap-2.5 border rounded-lg py-2 shadow-xl shadow-gray-400 mb-8">
    <div class="menu-item">
        
        <a [routerLink]="'agregar-especie'" class="menu-link">
            <span class="menu-icon">
                <i class="ki-solid ki-technology-3"></i>
            </span>
            <span class="text-lg ">
                Especie
            </span>
        </a>
    </div>
    <div class="menu-separator">
    </div>
    <div class="menu-item">
        <a [routerLink]="'agregar-cepa'" routerLinkActive="btn-success" class="menu-link">
            <span class="menu-icon">
                <i class="ki-solid ki-abstract-36"></i>
            </span>
            <span class="text-lg ">
                Cepa
            </span>
        </a>
    </div>
    <div class="menu-item">
        <a [routerLink]="'agregar-sexo'" routerLinkActive="btn-success" class="menu-link">
            <span class="menu-icon">
                <i class="ki-solid ki-android"></i>
            </span>
            <span class="text-lg ">
                Sexo
            </span>
        </a>
    </div>
        <div class="menu-item">
        <a [routerLink]="'agregar-edadopeso'" routerLinkActive="btn-success" class="menu-link">
            <span class="menu-icon">
                <i class="ki-solid ki-logistic"></i>
            </span>
            <span class="text-lg ">
                Edad o peso
            </span>
        </a>
    </div>

</div>