<div class="m-4 pb-10">
    <button (click)="abrirFormulario()" class="btn btn-success mt-8 text-3xl h-16 flex justify-end-safe">+ Ingresar un nuevo animal al catalogo</button>
</div>

<div class="bg-white border p-10 z-50 fixed top-0 left-0 right-0 mx-auto max-w-7xl shadow-xl max-h-[90vh] overflow-y-auto rounded-xl" *ngIf="mostrarFormulario">
    <div class="">
        <h1 class="card-header justify-center text-4xl">Ingrese los datos del nuevo departamento</h1>

        <form (ngSubmit)="agregarAnimal()" class="p-20 bg-gray-100">

            <!--para ingresar el nombre del archivo-->
            <label for="linea_animal" class="block text-lg font-medium text-gray-700 mb-1">
                Línea animal:
                <input [(ngModel)]="nuevoAnimal.linea" type="text" name="linea_animal" id="linea_animal"
                class="w-full px-3 py-2 border border-gray-300 rounded-md text-base text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                placeholder="Ingrese la linea animal">
            </label>
            
            <!--Para ingresar los nombres-->
            <label for="Especie" class="block text-lg font-medium text-gray-700 mb-1 mt-4">
                Selecione la especie:
            </label>
            <select 
                id="Especie"
                [(ngModel)]="nuevoAnimal.ID_especie"
                name="Especie"
                class="select w-full"
                >
                <option [ngValue]="1" class="text-base">01-Especie1</option>
                <option [ngValue]="2" class="text-base">02-Especie2</option>
                <option [ngValue]="3" class="text-base">03-Especie3</option>
                <option [ngValue]="4" class="text-base">04-Especie4</option>
                <option [ngValue]="5" class="text-base">05-Especie5</option>
                <option [ngValue]="6" class="text-base">...</option>
            </select>

            <label for="Cepa" class="block text-lg font-medium text-gray-700 mb-1 mt-4">
                Selecione la cepa:
            </label>
            <select 
                id="Cepa"
                [(ngModel)]="nuevoAnimal.ID_cepa"
                name="Cepa"
                class="select w-full"
                >
                <option [ngValue]="1" class="text-base">01-Cepa1</option>
                <option [ngValue]="2" class="text-base">02-Cepa2</option>
                <option [ngValue]="3" class="text-base">03-Cepa3</option>
                <option [ngValue]="4" class="text-base">04-Cepa4</option>
                <option [ngValue]="5" class="text-base">05-Cepa5</option>
                <option [ngValue]="6" class="text-base">...</option>
            </select>

            <label for="sexo" class="block text-lg font-medium text-gray-700 mb-1 mt-4">
                Selecione el sexo:
            </label>
            <select 
                id="sexo"
                [(ngModel)]="nuevoAnimal.ID_sexo"
                name="sexo"
                class="select w-full"
                >
                <option [ngValue]="1" class="text-base">01-macho''</option>
                <option [ngValue]="2" class="text-base">02-hembra</option>
                <option [ngValue]="3" class="text-base">03-indistinto</option>
            </select>

            <label for="edadopeso" class="block text-lg font-medium text-gray-700 mb-1 mt-4">
                Selecione el Edad o peso:
            </label>
            <select 
                id="edadopeso"
                [(ngModel)]="nuevoAnimal.ID_edadopeso"
                name="edadopeso"
                class="select w-full"
                >
                <option [ngValue]="1" class="text-base">01-edadopeso1</option>
                <option [ngValue]="2" class="text-base">02-edadopeso2</option>
                <option [ngValue]="3" class="text-base">03-edadopeso3</option>
                <option [ngValue]="4" class="text-base">04-edadopeso4</option>
                <option [ngValue]="5" class="text-base">05-edadopeso5</option>
                <option [ngValue]="6" class="text-base">06-edadopeso6</option>
            </select>

            <!--Para ingresar el estado del usuario-->
            <label for="disponibilidad_animal" class="block text-lg font-medium text-gray-700 mb-1 mt-4">
                ¿El animal estara disponible?
            </label>
            <select 
                id="disponibilidad_animal"
                [(ngModel)]="nuevoAnimal.disponibilidad"
                name="disponibilidad_animal"
                class="select w-full"
                >
                <option [ngValue]="true" class="text-base">Si</option>
                <option [ngValue]="false" class="text-base">No</option>
            </select>


            <div class="justify-items-end">
                <button type="submit" class="btn btn-success mt-8 text-2xl flex justify-end-safe">Registrar animal</button>
                <button type="button" (click)="cerrarFormulario()" class="btn btn-success mt-8 text-2xl flex justify-end-safe">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!--tablas-->
<div class="bg-teal-500 justify-items-center rounded-2xl p-4">
    <h2 class="card-title text-2xl text-white">Tabla de animales del catalogo</h2>                
</div>
<div class="p-4">
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-teal-300 bg-white text-base text-gray-700">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">línea</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Especie</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Cepa</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Sexo</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Edad o peso</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Disponibilidad</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Acción</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-teal-100">
                <tr class="hover:bg-teal-50" *ngFor="let animal of listaAnimales">
                    <td class="text-center px-6 py-4">{{ animal.linea }}</td>
                    <td class="text-center px-6 py-4">{{ animal.ID_especie }}</td>
                    <td class="text-center px-6 py-4">{{ animal.ID_cepa }}</td>
                    <td class="text-center px-6 py-4">{{ animal.ID_sexo }}</td>
                    <td class="text-center px-6 py-4">{{ animal.ID_edadopeso }}</td>
                    <td class="text-center px-6 py-4">{{ animal.disponibilidad }}</td>
                    <td class="text-center px-6 py-4">
                        <button>
                            <i class="ki-filled ki-cross-square"></i>   
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>