<p>library-management works!</p>,

<div>
    ver como dividirlas secciones(por el momento lo dejara todo junto)
</div>

<div>
    <h1>
        hola administrador bienvenodo a la gestion de biblioteca digital
    </h1>
    <p>
        por favor selecione la bibblioteca que desea administrar
    </p>
    <br>
    <br>
    <br>
    <div>
        <h2>
            Seccion: Procedimientos experimentales
        </h2>
        <form action="" method="post">
            <input type="file" name="" id="">
            <button type="submit">agregar</button>
        </form>

        <p>tabla dinamica donde se puede eliminar archivos</p>
        <table>
        <tr>
            <th>Nombre</th>
            <th>acciones</th>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-II</td>
            <td>x</td>
        </tr>
        </table>
    </div>

    <div>
        <h2>
            Seccion: agentes ATA
        </h2>
        <form action="" method="post">
            <input type="file" name="" id="">
            <button type="submit">agregar</button>
        </form>

        <p>tabla dinamica donde se puede eliminar archivos</p>
        <table>
        <tr>
            <th>Nombre</th>
            <th>acciones</th>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        </table>
    </div>

    <div>
        <h2>
            Datos generales
        </h2>
        <form action="" method="post">
            <input type="file" name="" id="">
            <button type="submit">agregar</button>
        </form>

        <p>tabla dinamica donde se puede eliminar archivos</p>
        <table>
        <tr>
            <th>Nombre</th>
            <th>acciones</th>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        </table>
    </div>

        <div>
        <h2>
            Datos generales
        </h2>
        <form action="" method="post">
            <input type="file" name="" id="">
            <button type="submit">agregar</button>
        </form>

        <p>tabla dinamica donde se puede eliminar archivos</p>
        <table>
        <tr>
            <th>Nombre</th>
            <th>acciones</th>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        <tr>
            <td>Cuidado en laboratorio-I</td>
            <td>x</td>
        </tr>
        </table>
    </div>

</div>