<nav class="p-4 w-full bg-gray-800 flex items-center justify-between">
  <!-- Imagen a la izquierda -->
  <div class="flex flex-shrink">
    <img src="/assets/media/images/logonavbar3.png" class="w-40 h-auto" alt="Logo">
  </div>

  <!-- Menú centrado -->
  <div class="flex-1 flex justify-center">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box flex gap-4">
      <li>
        <button routerLink="home" class="btn btn-clear btn-success">
          <i class="ki-filled ki-home"></i>
          Inicio
        </button>
      </li>
      <li>
        <button class="btn btn-clear btn-success">
          <i class="ki-filled ki-book-square"></i>
          Biblioteca digital
        </button>
      </li>
    </ul>
  </div>
</nav>
