<div class="grid lg:grid-cols-2 min-h-screen">
  <div class="flex items-center justify-center p-8 lg:p-10 order-2 lg:order-1 h-full">
    <div class="card max-w-[370px] w-full">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-body flex flex-col gap-5 p-10">
         <img class="h-auto w-auto" src="/assets/media/images/logonavbar3.png" />
        <div class="text-center mb-auto">
          <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
            Iniciar sesión
          </h3>
        </div>

        <div class="flex items-center gap-2">
          <span class="border-t border-gray-200 w-full"></span>
          <span class="border-t border-gray-200 w-full"></span>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label font-normal text-gray-900">Usuario</label>
          <input formControlName="usuario" class="input" placeholder="Ingrese su usuario" type="text" />
        </div>

        <div class="flex flex-col gap-1">
          <div class="flex items-center justify-between gap-1">
            <label class="form-label font-normal text-gray-900">Contraseña</label>
          </div>
          <div class="input flex items-center">
            <input formControlName="password" placeholder="Ingrese la contraseña" type="password" class="flex-grow" />
            <button class="btn btn-icon" type="button">
              <i class="ki-filled ki-eye text-gray-500"></i>
              <!-- Puedes implementar lógica para mostrar/ocultar contraseña -->
            </button>
          </div>
        </div>

        <label class="checkbox-group">
          <input class="checkbox checkbox-sm" type="checkbox" />
          <span class="checkbox-label">Recordarme</span>
        </label>

        <button type="submit" class="btn btn-success flex justify-center grow">Iniciar Sesión</button>
      </form>
    </div>
  </div>

  <div
    class="flex flex-col justify-center items-center lg:rounded-xl lg:border lg:border-gray-200 lg:m-5 order-1 lg:order-2 bg-no-repeat bg-center"
    style="background-image: url('/assets/media/images/login.jpg'); background-size: cover;">
  </div>
</div>
