
<div class="bg-teal-500 justify-items-center rounded-2xl p-4 mt-8">
        <h2 class="card-title text-2xl text-white">Tabla de los sexos</h2>                
</div>
<div class="p-4">
    <div class="overflow-x-auto rounded-lg shadow-lg">
        <table class="min-w-full divide-y divide-teal-300 bg-white text-base text-gray-700">
            <thead class="bg-teal-500 text-white">
                <tr>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Nombre de la edad o peso</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">descripcion de la edad o peso</th>
                                        <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Disponibilidad de la edad o peso</th>
                    <th class="px-6 py-3 text-center font-semibold uppercase tracking-wider">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-teal-100">
                <tr class="hover:bg-teal-50" *ngFor="let edadopeso of edadopesodb">
                    <td class="text-center px-6 py-4"> {{ edadopeso.nombre_edadopeso}} </td>
                    <td class="text-center px-6 py-4"> {{edadopeso.descripcion_edadopeso}}</td>
                   <td class="text-center px-6 py-4">
                        @if(edadopeso.disponibilidad_edadopeso){
                            <i class="ki-solid ki-check-circle text-green-500 text-4xl"></i>
                        }@else {
                            <i class="ki-solid ki-cross-circle text-red-400 text-4xl"></i>
                        }
                    </td> 
                    <td class="text-center px-6 py-4">
                        <button class="bg bg-sky-300 p-3 rounded-2xl">
                            <i class="ki-filled ki-notepad-edit text-lg"></i>
                            Modificar especie 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
