<div class="menu menu-default flex flex-col border rounded-lg w-full max-w-56 py-2">
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-book"></i>
    </span>
    <span class="menu-title">
     Mis protocolos
    </span>
   </a>
  </div>
  <div class="menu-separator">
  </div>
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-like"></i>
    </span>
    <span class="menu-title">
     Aprobados
    </span>
   </a>
  </div>
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-dislike"></i>
    </span>
    <span class="menu-title">
     No aprobados
    </span>
   </a>
  </div>
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-tablet-delete"></i>
    </span>
    <span class="menu-title">
     No enviados
    </span>
   </a>
  </div>
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-questionnaire-tablet"></i>
    </span>
    <span class="menu-title">
     En revisión
    </span>
   </a>
  </div>
  <div class="menu-separator">
  </div>
  <div class="menu-item">
   <a class="menu-link" href="#">
    <span class="menu-icon">
      <i class="ki-duotone ki-pencil"></i>
    </span>
    <span class="menu-title">
     Registro
    </span>
   </a>
  </div>
 </div>
