<h5 class="text-center text-xl font-bold text-gray-800 mb-8">Confirmación</h5>
<label class="block text-sm font-medium text-gray-700 mb-1">Compromiso para el Cuidado y Uso ético de los animales de laboratorio.</label>
<div class="flex flex-col md:flex-row gap-10">
<div class="flex-1 space-y-6">
  <p class="block text-sm font-medium text-gray-700 mb-1">Como Investigador Principal de este protocolo a mi cargo, me responsabilizo con:</p>
    <ol class="list-decimal list-inside text-sm text-gray-700 space-y-1">
        <li>Cumplir y hacer los estandares establecidos en la NOM-062-ZOO-1999 "Especificaciones Técnicas para la Producción, Cuidado y Uso de los Animales de Laboratorio".</li>
        <li>Llevar a cabo los procedimientos experimentales con animales de acuerdo a lo aprobado en el presente protocolo y no desviarme del mismo. Si así fuera</li>
        <li>Evitar el malestar y el dolor innecesario en los animales que se utilicen en el presente protocolo. Solicitar la ayuda de los especialistas cuando exista alguna duda.</li>
        <li>Asegurarme de que el personal a mi cargo esté debidamente capacitado y entrenado en los procedimientos a realizar con animales de laboratorio y de no ser así, solicitar la capacitación necesaria antes de trabajar con animales.</li>
        <li>Establecer un mecanismo de vigilancia que permita proteger la salud de los trabajadores y estudiantes que realicen procedimientos con animales, cuando este procedimiento pueda poner en riesgo su salud.</li>
      </ol>
</div>
<div class="flex-1 space-y-6" *ngIf="datosConfirmacion">
  <div class="md:w-1/2 bg-gray-50 p-4 rounded-lg shadow-sm">
    <p class="text-sm text-gray-700 mb-1">
      Nombre del investigador:
      <span class="font-medium text-gray-900">{{ datosConfirmacion.nombre }}</span>
    </p>
    <p class="text-sm text-gray-700 mb-1">
      Departamento:
      <span class="font-medium text-gray-900">{{ datosConfirmacion.departamento }}</span>
    </p>
    <p class="text-sm text-gray-700 mb-1">
      Fecha de elaboración:
      <span class="font-medium text-gray-900">{{ datosConfirmacion.fecha_elaboracion }}</span>
    </p>
    <p class="text-sm text-gray-700">
      Fecha de inicio:
      <span class="font-medium text-gray-900">{{ datosConfirmacion.fecha_inicio }}</span>
    </p>
    <p class="text-sm text-gray-700">
      Fecha de fin:
      <span class="font-medium text-gray-900">{{ datosConfirmacion.fecha_termino }}</span>
    </p>
  </div>
</div>

</div>
<div class="flex justify-end gap-4 mt-10">
  <button class="btn btn-success" (click)="enviarAlCICUAL()">Enviar al CICUAL</button>
  <button class="btn btn-secondary">Vista previa de impresión</button>
</div>
